/*.button{
    /*-fx-background-color: #83231b;  /* Green *
    -fx-background-radius: 13px;*
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-border-radius: 50%;
}*/
.button {
    -fx--webkit-transition-duration:0.4s;

    -fx-transition-duration: 0.4s;
}

.button:hover {
    -fx-background-color: #4CAF50; /* Green */

}